<template>
  <div>
    <footer>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#111" fill-opacity="1" d="M0,128L21.8,160C43.6,192,87,256,131,272C174.5,288,218,256,262,213.3C305.5,171,349,117,393,122.7C436.4,128,480,192,524,229.3C567.3,267,611,277,655,256C698.2,235,742,181,785,170.7C829.1,160,873,192,916,202.7C960,213,1004,203,1047,208C1090.9,213,1135,235,1178,202.7C1221.8,171,1265,85,1309,85.3C1352.7,85,1396,171,1418,213.3L1440,256L1440,320L1418.2,320C1396.4,320,1353,320,1309,320C1265.5,320,1222,320,1178,320C1134.5,320,1091,320,1047,320C1003.6,320,960,320,916,320C872.7,320,829,320,785,320C741.8,320,698,320,655,320C610.9,320,567,320,524,320C480,320,436,320,393,320C349.1,320,305,320,262,320C218.2,320,175,320,131,320C87.3,320,44,320,22,320L0,320Z"></path></svg>
 <div class="footer-top">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12 segment-one md-mb-30 sm-mb-30">
        <h3>{{ name }}</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad .</p>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-two  md-mb-30 sm-mb-30">
        <h2>{{ name }}</h2>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Destinations</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6 col-xs-12 segment-three  md-mb-30 sm-mb-30">
         <h2>Follow us</h2>
         <p>Follow us on our social media Profile to be updated. thank you</p>
         <a href="#"><i class="fab fa-facebook-square" aria-hidden="true"></i></a>
         <a href="#"><i class="fab fa-twitter-square" aria-hidden="true"></i></a>
         <a href="#"><i class="fab fa-instagram" aria-hidden="true"></i></a>
            </div>

      <div  class="col-md-3 col-sm-6 col-xs-12 segment-four  md-mb-30 sm-mb-30">
        <h2>Our NewsLetter</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>

        <form action="">
          <input type="email" name="email" placeholder="Your Email" autocomplete="off">
          <input type="submit" value="Subscribe">
        </form>
      </div>
    </div>
  </div>
  
 </div>
<p class="footer-bottom-text">All Right Reserved by &copy; {{ name }} 2020</p>
</footer>
   </div>
</template>
<script>
  export default {
    props: ['name']

  }
</script>
<style>
p{
    color: #999;
    line-height: 25px;
  }

  h2,h3{
  color:#fff;
}
  h2{
    font-size: 18px;
  }

  .footer-top{
    background:#111;
    padding: 80px 0;
  }
  .segment-one h3{
font-family: 'Damion', cursive;
    color: #fff;
    letter-spacing: 3px;
    margin: 10px 0;
  }

  .segment-two h2{
color:#fff;
font-family: 'Poppins', sans-serif;
text-transform: uppercase;

  }

.segment-two h2:before{
  content: '|';
  color: #c65039;
  padding-right: 10px;
} 

.segment-two ul{
margin:0;
padding: 0;
list-style: none; 
}

.segment-two ul li{

  border-bottom: 1px solid rgba(255, 255,255,0.3);
  line-height: 40px;
  
}

.segment-two ul li a{
  color:#999;
  text-decoration: none;

}

.segment-three h2{
  color:#fff;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
}

.segment-three h2:before{
  content: '|';
  color: #c65039;
  padding-right:  10px;
}

.segment-three a{
  background: #494848;
  width: 40px;
  height: 40px;
  display: inline-block;
  border-radius: 50%;
} 

.segment-three a i{
  font-size: 20px;
  color:#fff;
  padding: 10px 12px;
}

.segment-four h2{
  color: #fff;
font-family: 'Poppins', sans-serif;
}

.segment-four h2:before{
  content: '|';
  color: #c65039;
  padding-right:  10px;
}


.segment-four form input[type=submit]{
  background: #c65039;
  border: none;
  padding: 3px 15px;
  margin-left: -5px;
  color:#fff;
  text-transform: uppercase;
}

.footer-bottom-text{
  text-align: center;
  background: #000;
  line-height: 75px;
}
input[type="email"] {
    color: white;
}

@media only screen and (min-width: 768px) and (max-width: 991px){
  .md-mb-30{
    margin-bottom: 30px;
  }
}

@media only screen and  (max-width: 991px){
  .sm-mb-30{
    margin-bottom: 30px;
  }
  .footer-top{
    padding: 50px 0;
  }

}
</style>