<template>
<div class="header-container">
  <div class="carousel carousel-slider">
    <a class="carousel-item" href="#one!"><img class="caro" src="@/assets/img/nat-2-large.jpg"></a>
    <a class="carousel-item" href="#two!"><img class="caro" src="@/assets/img/nat-3-large.jpg"></a>
    <a class="carousel-item" href="#three!"><img class="caro" src="@/assets/img/nat-1-large.jpg"></a>
    <a class="carousel-item" href="#four!"><img class="caro" src="@/assets/img/nat-2-large.jpg"></a>
    <div class="header-wrapper">
      <span class="company-name">{{name}}</span>
      <span class="company-moto">{{moto}}</span>
    </div>
  </div>

</div>

</template>
<script>
  export default {
    data() {
      return {
        
      }
    },
    props: ['name', 'moto']

  }
</script>
<style>
.header-container {
  height: 70%;
  position:relative;
  padding: 0rem 0rem;
}

.header-wrapper {
  display: grid;
  justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.company-name {
  position: relative;
  display:block;
    background-image: linear-gradient(to right, rgba(192, 255, 51, 0.8), rgba(168, 255, 171, 0.8));
  font-weight: 700;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  animation-name: moveLeft;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  font-size:4rem;

}
.company-moto {
  position: relative;
  display:block;
    background-image: linear-gradient(to right, rgba(192, 255, 51, 0.8), rgba(168, 255, 171, 0.8));
  font-weight: 500;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: .1rem;
  quotes: "“" "”" "‘" "’";
  animation: moveRight 1s ease-out;
  font-size:2.5rem;
  font-family: 'Lobster', cursive;
}
.company-moto::before {
    content: open-quote;
}
.company-moto::after {
    content: close-quote;
}

@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-8rem); }
  80% {
    transform: translateX(1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }

@keyframes moveRight {
  0% {
    opacity: 0;
    transform: translateX(8rem); }
  80% {
    transform: translateX(-1.5rem); }
  100% {
    opacity: 1;
    transform: translateX(0rem); } }


@media only screen and (max-width: 768px) {
  .company-name {
    font-size: 2rem;
  }
  .company-moto {
    font-size: 1rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape and (-webkit-min-device-pixel-ratio: 1) ) {
.header-container {
    height: 45%;
  }

}
</style>

