<template>
  <div class="info-container">
    <div class="info-wrapper">
      <div class="left">
        <div class="heading-secondary">What we do?</div>
        <div class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci ipsam ea voluptatibus enim delectus recusandae harum neque praesentium facere molestiae id, unde nobis distinctio libero esse blanditiis rem quasi sint.</div>
        <a href="#" class="btn-text">Learn More &rarr;</a>
      </div>
      <div class="right">
         <img class="company" src="@/assets/img/com.jpg">
      </div>
    </div>
  </div>
</template>
<script>
  export default {

  }
</script>
<style>
.info-container {
  height: 20vh;
  padding: 0rem 2rem;
}

.info-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3rem;
}
.heading{
  text-transform: capitalize;
  font-weight: 700;
  font-size: 3rem;
   font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(192, 255, 51, 0.8), rgba(168, 255, 171, 0.8));
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
}
.description {
    text-align: justify;
    margin-top: 1rem;
    padding-left: 2rem;
    font-size: 1.5rem;
}
.company {
  object-fit: cover;
  height: 100%;
  width: 90%;
  outline-offset: 1rem; 
}
.company:hover {
      outline: 0.5rem solid #C0FF33;
      transform: scale(1.05);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6); 
    }

.btn-text:link, .btn-text:visited {
  font-size: 1rem;
  text-decoration: none;
  display: inline-block;
  border-bottom: 0.1rem solid #1e9900;
  padding: .8rem;
  border-radius: 0.5rem;
  transition: all .2s;
  text-transform: uppercase; }

.btn-text:hover {
  transform: translateY(-0.3rem);
  color: #fff;
  background-color: gray;
  text-shadow: 1rem 2rem 2rem rgba(0, 0, 0, 0.6); }

.btn-text:active {
  transform: translateY(0rem);
  text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.5); }
@media only screen and (max-width: 768px) {
   .heading-secondary{
  font-size: 2rem;
  }

  
  .info-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }
  .description {
    font-size: 1.2rem;
  }
}
</style>
