<template>
  <div>
     <div class="icon-bar">
  <a href="#" class="facebook">Lets be Friends.
    <i class="fab fa-facebook-square" aria-hidden="true"></i>
  </a>

  <a href="#" class="instagram">Folow Us for Awesome Content
    <i class="fab fa-instagram" aria-hidden="true"></i>
  </a>

  <a href="#" class="twitter">See our Latest Tweets
    <i class="fab fa-twitter-square" aria-hidden="true"></i>
  </a>

  <a href="#" class="youtube">Watch our travel videos.
    <i class="fab fa-youtube-square" aria-hidden="true"></i>
  </a>
</div>
  </div>
</template>
<script>
  export default {

  }
</script>
<style scoped>
.icon-bar{
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  /*-webkit-transform: translate(-50%);*/
  /*-ms-transform: translate(-50%);*/
  z-index: 10;
}

a{
text-decoration: none;
width: 210px;
background:#3b5999;
color:#fff;

display: flex;
justify-content: flex-end;
align-items: center;

padding: 5px;
font-size: 10px;
transform: translateX(-83%);

transition:all 1s linear;
}

a i{
  padding-left: 20px;
  font-size: 30px!important;
    animation: letszoom 3s linear alternate-reverse infinite;
}

a:hover{
  transform: translateX(0%);
}
@keyframes letszoom{
  from{

transform: scale(0.8);
    }to{
      transform: scale(1);

    }
}

.facebook{
  background:#3b5998;
}

.instagram{
  background:#e4405f;

}

.youtube{
  background:#cd201f;
}

.twitter{
  background:#00aced;
}

</style>