<template>
  <div class="member-containers">
     <div class="heading-photos">
          <h2 class="heading-secondary">
            Team Members
          </h2>
        </div>
    <div class="members-wrappers">
      <div class="members-wrapper">
        <img class="member-image"  v-for="image in images" :key="image" :src="image" alt="img" />
      <div class="member-container" v-for="member in members" :key="member.id">

        <p class="name-container">{{ member.name }}</p>
        <p class="profession-container">{{ member.profession }}</p>  
        <p class="description-container">{{ member.description }}</p>         
      </div>
    </div>
        
      </div>
  </div>
</template>
<script>
import nat1 from '@/assets/img/nat-1.jpg'
import nat2 from '@/assets/img/nat-2.jpg'
import nat3 from '@/assets/img/nat-3.jpg'
import nat4 from '@/assets/img/nat-4.jpg'
import nat5 from '@/assets/img/nat-5.jpg'
  export default {
    data() {
      return {
        members: [
        { id:'1', name: 'ram Shrestha', profession: 'worker1', description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit." },
        { id:'2', name: 'shyam Giri', profession: 'worker2', description:"Error neque, ratione molestiae porro iste inventore nihil consectetur ea distinctio" },
        { id:'3', name: 'hari Adhikari', profession: 'worker3' , description:", ipsa illo eaque modi excepturi iure officia maxime corrupti minus recusandae."  },
        { id:'4', name: 'sanjay Mahat', profession: 'worker4', description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit."},
        { id:'5', name: 'sagar Thapa', profession: 'worker5', description:"Earum ea dolorum dolor ipsum enim aut culpa beatae veritatis quam"}
      ],
      images: [nat1, nat2, nat3, nat4, nat5]

      }
    }
  }
</script>
<style>
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
 }
.member-containers {
  padding: 5rem 4rem 10rem 4rem;
}
.members-wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
}
.member-container{
  text-transform: capitalize;
  border: .1px solid gray;
  border-radius: .3rem;
  box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
  transition: all .4s;
}
.member-container:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); 
  }
.name-container{
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
}
.description-container {
  padding: 0 2rem;
  font-family: 'Merriweather', serif;
 quotes: "“" "”" "‘" "’";
}
.description-container::before {
    content: open-quote;
}
.description-container::after {
    content: close-quote;
}
.members-wrappers {
  display: grid;
}
.member-image {
    height: 8rem;
    width: 8rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    position: relative;
  transition: all .4s;
   }

@media only screen and (max-width: 768px) {
  .member-containers {
  padding: 5rem 2rem 10rem 2rem;
  }
  .members-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  }
  .member-image {
    display: none;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation:landscape and (-webkit-min-device-pixel-ratio: 1) ) {
.header-container {
    height: 45%;
  }
  .members-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  }
  .member-image {
    display: none;
  }
  member-containers {
   padding: 4rem 2rem 10rem 2rem; 
}


}




</style>
