<template>
  <div>
   <nav>
    <div class="nav-wrapper #212121 grey darken-4">
      <a href="#!" class="brand-logo right logos">{{ name }}</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">dehaze</i></a>
      <ul class="left hide-on-med-and-down">
        <li><a class="nav-name" href="#">Home</a></li>
        <li><a class="nav-name" href="#">Destination</a></li>
        <li><a class="nav-name" href="#" >About Us</a></li>
      </ul>
    </div>
  </nav>

  <ul class="sidenav" id="mobile-demo">
    <li><a class="nav-name" href="#">Home</a></li>
        <li><a class="nav-name" href="#">Destination</a></li>
        <li><a class="nav-name" href="#" >About Us</a></li>
  </ul>
  </div>
</template>
<script>
  export default {
    props: ['name']
  }
</script>
<style>
.logos {
  margin-right: 1rem;
  text-decoration: none;
}
.nav-name {
  font-size: 1.5rem;

}

a:hover {
  color: gray;
}


a:active {
  color: black;
  text-decoration: none;
}


a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

</style>