<template>
  <div class="photos-container">
    <div class="heading-photos">
          <h2 class="heading-secondary">
            Our Stories
          </h2>
        </div>
    <div class="photos-wrapper">
      <div class="box box-1">
        <img  class="image" src="@/assets/img/nat-2.jpg" alt="">
      </div>
      <div class="box box-2">
         <img class="image" src="@/assets/img/nat-1.jpg" alt="">
      </div>
      <div class="box box-3">
         <img class="image" src="@/assets/img/nat-3.jpg" alt="">
      </div>
      <div class="box box-4">
         <img class="image" src="@/assets/img/nat-4.jpg" alt="">
      </div>
      <div class="box box-5">
         <img class="image" src="@/assets/img/nat-5.jpg" alt="">
      </div>
      <div class="box box-6">
         <img class="image" src="@/assets/img/nat-6.jpg" alt="">
      </div>
       <div class="box box-8">
         <img class="image" src="@/assets/img/him.jpg" alt="">
      </div>
      <div class="box box-9">
         <img class="image" src="@/assets/img/nat-8.jpg" alt="">
      </div>
    </div>
  </div>
</template>
<script>
export default {

  data() {
    return {

    }
  }
}
</script>
<style>
.photos-container {
  padding: 15rem 2rem 5rem 2rem;
}
.photos-wrapper {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: minmax(3rem, auto);
  grid-gap: 1.5rem;
}
.photos-wrapper > div {
  background-color: white;
}
.box-1 {
  grid-column: 1/3;
  grid-row: 1/4;

}
.box-2 {
  grid-row: 1/3;
}
.box-3 {
  grid-row: 1/4;
}
.box-9 {
  grid-column: 3/5;

}
.box-5{
  grid-column: 2;
  grid-row: 4;

}
.box-6 {
  grid-column: 3/4;
}
.box-4 {
  grid-row: 4/5;
}
.box-8 {
  grid-row: 1/5;
  
}
.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all .4s;
}

.image:hover {
    transform: translateY(-0.6rem);
    box-shadow: 0 1.5rem 2rem rgba(0, 0, 0, 0.2); 
}


.heading-secondary {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
  background-image: linear-gradient(to right, rgba(192, 255, 51, 0.8), rgba(168, 255, 171, 0.8));
  color: transparent;
  display: inline-block;
  -webkit-background-clip: text;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(5deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.2); }

.heading-photos {
  margin-bottom: 2rem;
}

@media only screen and (max-width: 768px) {
  .heading-secondary {
  font-size: 2rem;
  }

  .photos-container {
  padding: 25rem 0 5rem 0rem;
  }
}


  
</style>