<template>
  <div>
    
<app-navbar :name="companyName"></app-navbar>  
<app-header :name="companyName" :moto="quotation"></app-header>
<app-members></app-members>

<app-info></app-info>
<app-media></app-media>
<app-photos></app-photos>
 <app-footer  :name="companyName"></app-footer>

    
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue'
import Footer from './components/Footer.vue'
import Header from './components/Header.vue'
import Info from './components/Info.vue'
import Media from './components/Media.vue'
import Members from './components/Members.vue'
import Photos from './components/Photos.vue'

export default {
  name: 'App',
  components: {
   
    'app-navbar':Navbar,
    'app-header':Header,
    'app-info':Info,
    'app-media':Media,
    'app-members':Members,
    'app-photos':Photos,
    'app-footer':Footer
   
  },
  data() {
    return {
      companyName: 'Travel Freaks',
      quotation: 'Your travel guide'
    }
  }

}
</script>

<style>
</style>
